/*
 * It is advised not to edit the smartadmin_production.css
 * as this will override any changes you make in the 
 * later versions of this theme. 
 * 
 * We advise that you use use this CSS to override 
 * SmartAdmin styles. 
 * 
 * Rename the stylesheet to whatever your liking so it will stay
 * unique to you with each update of SmartAdmin.
 */

/*
 * INDEX
 * 
 * - HTML
 * - BODY
 * - CUSTOM STYLES
 */
body {
    position: relative;
}

.form .form-group:last-child, .form .form-group:last-child .note, .form fieldset .form-group:last-child, .form fieldset .form-group:last-child .note {
    margin-bottom: 15px;
}

form .tab-content {
    padding: 10px;
}

nav ul b {
  float: none;
}

.datatable .thumbnail img {
    max-width: 100px;
    max-height: 100px;
}

.icheckbox_minimal-blue,
.iradio_minimal-blue {
  display: inline-block;
  margin-bottom: -4px;
  margin-right: 4px;
}
.form-group .icheckbox_minimal-blue,
.form-group .iradio_minimal-blue {
  display: inline-block;
  top: 4px;
  margin-right: .5em;
  margin-left: -20px;
}
.checkbox-inline,
.radio-inline {
  margin-right: 20px;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-left: 0;
}
.form-control.select2-container {
  height: auto;
  padding: 0;
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.ui-datepicker {
    display: inline-block;
}

.select2-container{
	min-width : 100%;
}